services:
  postgres:
    image: postgres:15
    container_name: notifyx_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: arpit
      POSTGRES_DB: NotifyX_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: notifyx_backend
    depends_on:
      - postgres
    env_file:
      - ./.env
    ports:
      - "8000:8000"

  worker:
    build:
      context: ./worker
    container_name: notifyx_worker
    depends_on:
      - postgres
    env_file:
      - ./.env

volumes:
  postgres_data: